include /dev/pug/modules/recently-viewed/recently-viewed-data

section.recently-viewed
  .container
    h2.recently-viewed__title.section__title Вы недавно смотрели
    include /dev/pug/modules/books-layout/books-layout
