.user-header {
  align-items: center;
  display: flex;
  margin: 0 0 0 auto;
  max-width: 411px;
  width: 100%;
}

.user-header__search {
  display: flex;
  margin: 0 10px 0 0;
  position: relative;
  width: 100%;
}

.user-header__search-input {
  border: 0.5px solid $text-color;
  border-radius: 2px;
  flex-grow: 1;
  line-height: 18px;
  padding: 7px 40px 7px 12px;

  &::placeholder {
    color: $light-grey-color;
  }
}

.user-header__search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity ease-out 0.15s;

  &:hover {
    opacity: 0.7;
  }
}

.user-header__basket {
  align-items: center;
  background-color: $blue-color;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  padding: 5px;
}
