-
  var books = [
    {
      name: "Жизнь в удовольствие",
      pages: "208",
      author: "Палиенко А.",
      img: "static/images/content/a-life-of-pleasure.jpg",
      description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
      stars: "3.5",
      link: "#",
      width: "275",
      height: "320"
    },
    {
      name: "Жизнь в удовольствие",
      pages: "208",
      author: "Палиенко А.",
      img: "static/images/content/a-life-of-pleasure.jpg",
      description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
      stars: "3.5",
      link: "#",
      width: "275",
      height: "320"
    },
    {
      name: "Жизнь в удовольствие",
      pages: "208",
      author: "Палиенко А.",
      img: "static/images/content/a-life-of-pleasure.jpg",
      description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
      stars: "3.5",
      link: "#",
      width: "275",
      height: "320"
    },
    {
      name: "Жизнь в удовольствие",
      pages: "208",
      author: "Палиенко А.",
      img: "static/images/content/a-life-of-pleasure.jpg",
      description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
      stars: "3.5",
      link: "#",
      width: "275",
      height: "320"
    }
  ];
