extends /dev/pug/layout/main

block variables
  - var title = "Книга Фигурная абстракция"
  - var pageClass = "book-page"
  - var userLogin = true

block content
  main(class=pageClass)
    include /dev/pug/modules/breadcrumbs/breadcrumbs
    include /dev/pug/pages/book/book
    include /dev/pug/modules/reviews/critique
    include /dev/pug/modules/recently-viewed/recently-viewed
