extends /dev/pug/layout/main

block variables
  - var title = "Главная страница"
  - var pageClass = "index-page"
  - var userLogin = false

block content
  main(class=pageClass)
    h1.visually-hidden Магазин по продаже книг "По полочкам"
    include /dev/pug/modules/hero/hero
    include /dev/pug/modules/new-books/new-books
    include /dev/pug/modules/best-books/best-books
    include /dev/pug/modules/reviews/reviews
    include /dev/pug/modules/about/about
