// Colors
$white: #ffffff;
$black: #000000;
$blue-color: #3971ff;
$dark-black-color: #222225;
$grey-color: #f6f6f6;
$light-black-color: #4a4c51;
$hover-color: #98b5ff;
$light-grey-color: #bfbfbf;
$light-blue-color: #98b5ff;
$light-orange-color: #fe872e;
$light-red-color: #ff9292;
$orange-color: #fd8d5a;
$red-color: #ff7171;
$text-color: #37393e;

// Sizes
$base-font-size: 16px;

$content: 1300px;

// Fonts
$main-font: "PTSansAstra", "Arial", sans-serif;
$second-font: "Golos", "Arial", sans-serif;
$decor-font: "Podkova", "Arial", sans-serif;
