// Colors
$white: #ffffff;
$black: #000000;
$blue-color: #3971ff;
$light-black-color: #151515;
$light-grey-color: #bfbfbf;
$yellow-color: #ffd84e;
$yellow-light-color: #ffe483;
$text-gray-color: #b6b6b6;
$red-color: #ff5151;
$text-color: #37393e;

// Sizes
$base-font-size: 16px;

$content: 1300px;

// Fonts
$main-font: "Golos", "Arial", sans-serif;
$decor-font: "Caveat", "Arial", sans-serif;
