.footer-nav {
  display: grid;
  grid-template-columns: 171px 171px 145px 218px;
  gap: 20px;
}

.footer-nav__title {
  margin: 0 0 6px 0;
  color: $light-black-color;
  font-weight: 700;
  font-size: 24px;
  font-family: $decor-font;
  line-height: 27px;

  &--more {
    margin: 0 0 7px 0;
  }
}

.footer-nav__link {
  display: inline-block;
  color: $white;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  &:not([href]) {
    cursor: default;
  }

  &[href]:hover {
    opacity: 0.7;
  }

  &[href]:focus {
    outline: none;
    opacity: 0.7;
  }
}

.footer-nav__text {
  margin: 0 0 5px 0;
  color: $white;
  line-height: 18px;
}
