.nav {
  background-color: $blue-color;
  padding: 8px 0;
}

.nav__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  &:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.nav__link {
  color: $white;
  line-height: 19px;
  position: relative;
  text-decoration: none;
  transition: all ease-out 0.15s;

  &--active {
    &::after {
      background-color: $white;
      bottom: -2px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &:not([href]) {
    cursor: default;
  }

  &[href]:hover {
    opacity: 0.7;
  }

  &[href]:focus {
    opacity: 0.7;
    outline: none;
  }
}
