.slider {
  position: relative;
}

.slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  min-height: 450px;
  padding: 22px 35px 32px;
  border-radius: 6px;
  background-color: $orange-color;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    right: 143px;
    z-index: 10;
    width: 301px;
    height: 540px;
    background-color: #fe872e;
    transform: rotate(-48.44deg);
  }
}

.slider__title {
  max-width: 495px;
  margin: 0 0 24px 0;
  color: $white;
  font-weight: 600;
  font-size: 64px;
  font-family: $decor-font;
  line-height: 60px;
}

.slider__text {
  max-width: 395px;
  margin: 0 0 20px 0;
  color: $white;
  line-height: 21px;
}

.slider__link {
  display: inline-block;
  margin: auto 0 0 0;
  padding: 10px 24px;
  border-radius: 2px;
  background-color: $blue-color;
  color: $white;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  transition: all ease-out 0.15s;

  &:hover {
    background-color: $hover-color;
  }
}

.slider__img {
  position: absolute;
  top: 50px;
  right: -4px;
  z-index: 20;
  transform: rotate(-27.28deg);
}

.slider__bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}

.slider__bullet {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin: 0 4px 0 0;
  }
}

.slider__bullet-button {
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 1px solid $white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-out 0.15s;

  &:hover {
    transform: scale(1.3);
  }

  &--active {
    width: 12px;
    height: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $white;
      transform: translate(-50%, -50%);
    }
  }

  &:not(:last-child) {
    margin: 0 4px 0 0;
  }
}

.slider__arrows {
  position: absolute;
  top: 50%;
  z-index: 50;
  width: 100%;
  height: 28px;
  transform: translateY(-86%);
}

.slider__arrow-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 10px rgba(57, 113, 255, 0.2);
  cursor: pointer;
  transition: all ease-out 0.15s;

  &:hover {
    box-shadow: 0 0 15px rgba(57, 113, 255, 0.3);
  }

  &--prev {
    left: -14px;
  }

  &--next {
    right: -14px;
    transform: rotate(180deg);
  }
}

.slider__icon-arrow {
  transform: translateX(-2px);
}
