.header {
  background: $white;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 0 14px;
}

.header__logo-link {
  display: block;
  margin: 0 37px 0 0;
}

.header__address {
  margin: -10px 0 0 0;
  line-height: 18px;
}
