.reviews {
  margin: 0 0 67px 0;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -20px 0;
}

.reviews__item {
  display: flex;
  flex: 0 0 33.33%;
  padding: 40px 20px 0;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 24px 20px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

.reviews__info {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.reviews__box-images {
  overflow: hidden;
  border-radius: 50%;
}

.reviews__img {
  align-self: baseline;
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 0 15px 0 0;
}

.reviews__name {
  color: $blue-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.reviews__count {
  color: $light-grey-color;
  font-size: 16px;
  line-height: 21px;
}

.reviews__review {
  line-height: 21px;
}
